doctype xml
+response.set_content_type('application/xml')
feed(xmlns="http://www.w3.org/2005/Atom")
	title= site.title
	description= site.description.escaped
	link(href="http://{{ request.host }}/")
	link(ref="self", href="http://{{ request.host }}/feed")
	id= site._id
	feed_posts = d.get_data(type='post', limit=10)
	if feed_posts
		updated= feed_posts[0]['date'].strftime('%Y-%m-%dT%H:%M:%SZ')
	for post in feed_posts
		entry
			post_url = 'http://' + request.host + post.url.escaped
			title= post.title.escaped
			link(href=post_url, rel="alternate")
			updated= post.date.strftime('%Y-%m-%dT%H:%M:%SZ')
			id= post.url_path.escaped
			author
				name= site.author or site.admin_name or site.title
			summary(type="html")= post.content.escaped